{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-4">
	<div class="p-5 mb-4 rounded-3 col-md-8 col-10 mx-auto bg-cinza">
		<div class="container-fluid py-2">
			<h1><span class="hashtag">#</span>Login</h1>
			<p class="lead">Preencha os campos abaixo para entrar na sua conta. Caso você ainda não tenha uma conta <a href="{% url 'create-user' %}">Clique aqui!</a></p>
			<hr class="my-4">
			<form method="post" action="{% url 'login' %}" class="boostrap4">
				{% csrf_token %}
				{{ form|crispy }}
				<p>Esqueceu sua senha? <a href="{% url 'password_reset' %}">Clique aqui</a></p>
				<input type="submit" class="btn btn btn-primary mt-1 arredondar-botao" value="Entrar" />
				<input type="hidden" name="next" value="{{ next }}" />
			</form>
		</div>
	</div>
</div>
{% endblock %}