{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	{% if validlink %}
		<div class="container mt-4">
			<div class="p-5 rounded-3 col-md-8 col-10 mx-auto bg-cinza">
				<h1><span class="hashtag">#</span>Nova Senha</h1>
				<p class="lead">Preencha os campos abaixo com sua nova senha.</p>
				<hr class="my-4">
				<form action="" method="post">
					{% csrf_token %}
					{{ form|crispy }}
					<input type="submit" class="btn btn-primary mt-3 arredondar-botao" value="Alterar senha" />
				</form>
			</div>
	   </div> 
	{% endif %}
{% endblock %}